---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/NavbarEn.astro";
import { getCollection } from "astro:content";
const projects = await getCollection('projectsEn');
---

<Layout title="Projects">
    <Navbar/>
    <main>
        <div class="mt-10 flex justify-center scale-110">
            <div id="projects" class="w-full max-w-4xl">
                {
                    projects.map(project => {
                        const { slug, data } = project;
                        const { title, img, description } = data;
                        
                        return (
                            <a href={`projects/${slug}`} class="mb-2 xl:mb-0 transition">
                                <article class="flex mt-20 group hover:scale-105 transition">
                                    <img
                                        transition:name={`img-${slug}`}
                                        class="mr-5 w-48 rounded"
                                        src={`/${img}`}
                                        alt={title}
                                    />
                                    <div class="flex flex-col justify-center">
                                        <h2 
                                            transition:name={`title-${slug}`}
                                            class="mb-2 text-2xl font-bold leading-tight text-white group-hover:bg-gradient-to-r group-hover:from-purple-300 group-hover:to-purple-700 group-hover:bg-clip-text group-hover:text-transparent ease-in-out group-hover:opacity-100">
                                            {title}
                                        </h2>
                                        <p class="mb-4 text-gray-300 max-w-sm">{description}</p>
                                    </div>
                                </article>
                            </a>
                        );
                    })
                }
            </div>
        </div>
    </main>
</Layout>